@model CRMSystem.Web.ViewModels.Statistics.IndexViewModel
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<form asp-action="Index" method="post" class="user" asp-route-input="">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4 font-italic">General statistic for period</h1>

    </div>
    <div class="form-row d-flex justify-content-lg-center">
        <div class="input-group date col-md-3" data-provide="datepicker">
            <input asp-for="StartDate" type="text" value="Enter start date" class="form-control datepicker-orient-bottom" placeholder="From date">
            <div class="input-group-addon">
                <span><i class="far fa-calendar-alt"></i></span>
            </div>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="input-group date col-md-3" data-provide="datepicker">
            <input asp-for="EndDate" type="text" value="Enter end date" class="form-control" placeholder="To date">
            <div class="input-group-addon">
                <span><i class="far fa-calendar-alt"></i></span>
            </div>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="d-flex justify-content-lg-center ">
        <button type="submit" class="btn btn-success  btn-user btn-block font-weight-bold">
            Get Statistic
        </button>
    </div>
</form>
<vc:general-statistic></vc:general-statistic>

@section Scripts
{

    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>

}



