@model CRMSystem.Web.ViewModels.Statistics.IndexViewModel



<vc:general-statistic></vc:general-statistic>


<form asp-action="Index" method="post" asp-route-input="">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="input-group date col-md-3" data-provide="datepicker">
            <input asp-for="StartDate" type="text" class="form-control datepicker-orient-bottom" placeholder="From date">
            <div class="input-group-addon">
                <span><i class="far fa-calendar-alt"></i></span>
            </div>
        </div>
        <div class="input-group date col-md-3" data-provide="datepicker">
            <input asp-for="EndDate" type="text" class="form-control" placeholder="To date">
            <div class="input-group-addon">
                <span><i class="far fa-calendar-alt"></i></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Get Statistic</button>
    </div>
</form>


@section Scripts
{

    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>

}



