@using System.Linq
@using CRMSystem.Web.ViewModels.Contacts
@using CRMSystem.Web.ViewModels.Organizations
@model CRMSystem.Web.ViewModels.Organizations.AddContactToOrganizationViewModel
@{
    this.ViewData["Title"] = "Match to organization";
    var organizations = Model.Organizations.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h1>You are success add your contact no you have a choice to add this to organization or not</h1>

<form method="post" asp-action="ConnectToOrganization" asp-route-contactId="@Model.ContactId">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="OrganizationId"></label>
            <select asp-for="OrganizationId" asp-items="organizations" class="form-control"></select>
            <span asp-validation-for="OrganizationId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add to this organization</button>
    </div>
</form>
<hr />

<div class="px-4 pt-3"> <button type="button" class="btn btn-primary float-right" onclick="showAddOrganizationForm()"><i class="fa fa-plus"></i>&nbsp; Add new organization</button> </div>
<div class="clearfix"></div>
<div id="AddOrganizationForm" style="display: none">
    <partial name="_CreateOrganization" />
</div>



@section Scripts {
    <script>
        function showAddOrganizationForm() {
            $("#AddOrganizationForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddOrganizationForm").offset().top
            }, 2500);
        }
    </script>
}

