
@{
    ViewData["Title"] = "ConnectToOrganization";
}

<h1>ConnectToOrganization</h1>


    <div class="form-row">
        @*<div class="form-group col-md-4">
            <label asp-for="OrganizationId"></label>
            <select asp-for="OrganizationId" asp-items="organizations" class="form-control"></select>
            <span asp-validation-for="OrganizationId" class="text-danger"></span>
        </div>*@
        <div class="form-group col-md-4">
            <h2>OR</h2>
        </div>
        <div class="form-group col-md-4">
            <!-- Button trigger modal -->
            @*<form asp-controller="Organizations" method="get" asp-action="Create" id="AddOrganizationForm" style="display: none">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" asp-controller="Organizations" asp-action="Create">
                            Launch demo modal
                        </button>
                   </form>*@
                
        </div>
    </div>
    <div class="form-row">
    </div>

   


