@using CRMSystem.Data.Models
@using CRMSystem.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@model CRMSystem.Web.ViewModels.Organizations.AddContactToOrganizationViewModel
@{
    this.ViewData["Title"] = "Add new organization";

}

<h3>@this.ViewData["Title"]</h3>

<form method="post" asp-action="Create">


    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="CreateOrganization.Name">Name</label>
            <input asp-for="CreateOrganization.Name" class="form-control" placeholder="Name">
            <span asp-validation-for="CreateOrganization.Name"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="CreateOrganization.Address.Country">Organization Country</label>
            <input asp-for="CreateOrganization.Address.Country" class="form-control" placeholder="Organization Country">
            <span asp-validation-for="CreateOrganization.Address.Country"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="CreateOrganization.Address.City">Organization City</label>
            <input asp-for="CreateOrganization.Address.City" class="form-control" placeholder="Organization City">
            <span asp-validation-for="CreateOrganization.Address.City"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="CreateOrganization.Address.Street">Organization Street</label>
            <input asp-for="CreateOrganization.Address.Street" class="form-control" placeholder="Organization Street">
            <span asp-validation-for="CreateOrganization.Address.Street"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="CreateOrganization.Description">Description</label>
            <textarea asp-for="CreateOrganization.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="CreateOrganization.Description"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Organization</button>
</form>