
@using CRMSystem.Data.Models.Enums
@using CRMSystem.Web.ViewModels.Organizations
@model CRMSystem.Web.ViewModels.Organizations.EditOrganizationInputModel

@{
    this.ViewData["Title"] = "Edit Organization";

}


<div class="container">
    <form class="user" asp-action="Edit" asp-controller="Organizations" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">@Model.Name</h1>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Name" class="form-control form-control-user" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select asp-for="Industry" asp-items="Html.GetEnumSelectList<IndustryType>()" class="selectBox"><option disabled selected>--Select your industry type--</option></select>
                                <span asp-validation-for="Industry" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Description" class="form-control form-control-user" rows="3" placeholder="Company's description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Address</h1>
                            </div>
                            <div class="form-group">
                                <input asp-for="Address.Country" class="form-control form-control-user" placeholder="Country">
                                <span asp-validation-for="Address.Country" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Address.City" class="form-control form-control-user" placeholder="City">
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Address.Street" class="form-control form-control-user" placeholder="Street">
                                <span asp-validation-for="Address.Street" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Address.ZipCode" class="form-control form-control-user" placeholder="Zip code">
                                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Status</h1>
                            </div>
                            <partial name="_StatusOrganization" model="new StatusOrganizationViewModel {IsPublic = Model.IsPublic, Id = Model.Id}" />
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="@Model.Address.Id" />
            <input type="hidden" asp-for="@Model.Id" />
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Save Changes
            </button>
            <button asp-action="Index" type="submit" class="btn btn-danger btn-user btn-block">
                Cancel
            </button>
        </div>
    </form>
</div>

