@model IEnumerable<CRMSystem.Web.ViewModels.Products.ProductViewModel>
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
@if (this.TempData.ContainsKey("ConfirmationEmail"))
{
    <div class="alert alert-success">@this.TempData["ConfirmationEmail"]</div>
}
<h1>
    <p style="text-align: center;">Your company have @Model.Count() products</p>
</h1>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <partial name="_ProductPartial" model="@product" />
            </div>
        }
    </div>
</div>