@model IEnumerable<CRMSystem.Web.ViewModels.Products.ProductViewModel>


<h1>
    <p style="text-align: center;">Your company have @Model.Count() products</p>
</h1>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
        <partial name="_ProductPartial" model="@product"/>
        }
    </div>
</div>