@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (this.TempData.ContainsKey("Successful"))
{
    <div class="alert alert-success">@this.TempData["Successful"]</div>
}
Vashite danni sa izprateni kym izbranata ot vas kompania sled potvurjdenie ili otkaz shte poluchiste syotvetnia email :) 