@if (this.TempData.ContainsKey("Successful"))
{
    <div class="alert alert-success">@this.TempData["Successful"]</div>
}
<div class="d-flex justify-content-center font-weight-bold font-italic">You will receive email when your approval accepted.</div> 