@model CRMSystem.Web.ViewModels.Orders.OrderCustomerStatsViewModel



<div class="form-group row">
    <div class="col-sm-8 mb-1 mb-sm-0 font-weight-bold">
        <label>Total benefits:</label>
    </div>
    <div class="col-sm-4 font-italic">
        <p> @Model.Benefits</p>
    </div>
    <div class="col-sm-8 mb-1 mb-sm-0 font-weight-bold">
        <label>Orders:</label>
    </div>
    <div class="col-sm-4 font-italic">
        <p> @Model.TotalOrders</p>
    </div>
    <div class="col-sm-8 mb-1 mb-sm-0 font-weight-bold">
        <label>Products type ordered:</label>
    </div>
    <div class="col-sm-4 font-italic">
        <p> @Model.DifferentProducts</p>
    </div>
</div>



