<div class="d-flex justify-content-center card text-white bg-warning mb-3 shadow" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Waiting to approve</h5>
        <p>Sorry, but our team working now on this feature :) Have to nice on this app</p>
       
    </div>
</div>