@model CRMSystem.Web.ViewModels.UserTasks.UserTaskCreateInputModel

@{
    this.ViewData["Title"] = "Add new task";
}

<h3>@this.ViewData["Title"]</h3>

<form method="post" asp-action="Create">


    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
      <div class="form-group col-md-3">
            <label asp-for="DeadLine">Task's dead line</label>
            <input asp-for="DeadLine" class="form-control" type="date"  placeholder="Task's dead line">
            <span asp-validation-for="DeadLine" class="text-danger"></span>
          </div>
        <div class="form-group col-md-12">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Organization</button>
</form>