@model CRMSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}



<div class="container">
    <p class="align-content-center">Do you want to track your business and make your clients feel special? </p>
    <h1>We are here!</h1>
    <p class="lead text-muted">Our product would be helping you to track your orders and contact easily with your best clients</p>
    <p>We already have @Model.OrganizationsCount companies and they tracking more than @Model.CustomersCount customers</p>
    <p>If you want to use our app just <a href="#">register</a> or <a href="#">log in</a></p>
</div>