@using CRMSystem.Data.Models.Enums
@model CRMSystem.Web.ViewModels.Emails.EmailCreateInputModel
<form style="padding-bottom: 7rem" method="post" asp-action="Add" asp-controller="Emails">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" asp-for="Email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <select asp-for="EmailType" asp-items="Html.GetEnumSelectList<EmailType>()" class="form-control" placeholder="type"></select>
            <span asp-validation-for="EmailType" class="text-danger"></span>
            <input asp-for="ContactId" type="hidden" />
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>