@using CRMSystem.Data.Models.Enums
@model CRMSystem.Web.ViewModels.Phones.PhoneCreateInputModel
<form style="padding-bottom: 7rem" method="post" asp-action="Add" asp-controller="Phones">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" asp-for="Phone" placeholder="Phone number">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <select asp-for="PhoneType" asp-items="Html.GetEnumSelectList<PhoneType>()" class="form-control" placeholder="type"></select>
            <span asp-validation-for="PhoneType" class="text-danger"></span>
            <input asp-for="ContactId" type="hidden" />
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>