@using CRMSystem.Common
@using CRMSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (this.SignInManager.IsSignedIn(this.User))
{

    var profileImageUrl = this.UserManager.Users.FirstOrDefault(x => x.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))?.ProfilePictureUrl;

    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @if (this.User.IsInRole("Owner") || this.User.IsInRole("Administrator"))
            {

                <img class="rounded-circle avatar" alt="avatar" src="@profileImageUrl" />
            }
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(this.User.Identity.Name)</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
            </a>

            <a class="dropdown-item" method="get" asp-area="" asp-controller="Organizations" asp-action="Create">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                My Organizations
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>

        </div>
    </li>






}
else
{
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn btn-danger rounded-pill" asp-page-handler="Register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-primary rounded-pill" asp-area="Identity" asp-page-handler="Login" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-horganizationIdden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-horganizationIdden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-primary">Logout</button>
                </form>

            </div>
        </div>
    </div>
</div>

