@using CRMSystem.Common
@using CRMSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<a class="sidebar-brand  d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
    <div class="sidebar-brand-icon">
        <i class="fas fa-tasks"></i>
    </div>
    <div class="sidebar-brand-text mx-3">@GlobalConstants.SystemName</div>
</a>

<hr class="sidebar-divider">

@if (this.SignInManager.IsSignedIn(this.User))
{
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Administration</span>
            </a>
        </li>
        <hr class="sidebar-divider">
    }
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-server"></i>
            <span>Your data</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                <a class="collapse-item" asp-area="" asp-controller="Organizations" asp-action="Create">Organization</a>
                <a class="collapse-item" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Statistics" asp-action="Index">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Statistic</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Emails" asp-action="Send">
            <i class="fas fa-mail-bulk"></i>
            <span>Sending email</span>
        </a>
    </li>
}
else
{
    <partial name="_SideBarLoginPartial" />
}
<hr class="sidebar-divider">
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>


