@model CRMSystem.Web.ViewModels.Accounts.CreateAccountInputModel
@{

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="" method="post">
            <h4>Create a new account:<br/> @Model.FullName</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group card rounded-pill">
                <div class="card-body">
                    <i class="fas fa-user"></i>
                    <label>Username:</label><br/>
                    @Model.Username
                    <input asp-for="Username" type="hidden"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group card rounded-pill">
                <div class="card-body">
                    <i class="fas fa-at"></i>                    
                    <label>Email:</label><br/>
                    <select asp-for="Email"   class="form-control"><option disabled selected>--Select Phone--</option></select>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group card rounded-pill">
                <div class="card-body">
                    <i class="fas fa-phone-alt"></i>
                    <label>Phone:</label><br/>
                    <select asp-for="Phone"  class="form-control"><option disabled selected>--Select Phone--</option></select>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
<input asp-for="OrganizationId" type="hidden"/>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>